/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

header, footer {
    background:rgba(17, 36, 47, 0.9);
}

body {
    font-family:'raleway',helvetica,sans-serif;
    text-shadow:1px 1px 1px #0A171F;
    color:#fff;
}

body a {
    color:#fff;
    text-decoration:none;
}

body ul {
    list-style-type:none;
    text-transform:uppercase;
}

header {
    position:fixed;
    width:100%;
    z-index:100;
    overflow:auto;
    padding:14px 0;
}

header span {
    margin-left:40px;
}

header ul {
    position:absolute;
    top:0;
    right:53px;
    margin-top:5px;
}

header ul li span {
    font-size:1.5em;
    margin:0;
}

.metadata {
    font-weight:700;
    position:absolute;
    width:100%;
    height:180px;
    top:50%;
    margin-top:140px;
    z-index:50;
    text-align:center;
    color:#FFF;
    font-size:2em;
}

#play-init {
   width:150px;
    height:150px;
    position:relative;
    margin:-15px auto;
    background:none;
    border:none;
}

#play-init:focus {
    outline:none;
}

footer {
    position:fixed;
    height:50px;
    bottom:0;
    width:100%;
    color:#fff;
    box-shadow:0 -2px 0 rgba(15, 34, 45, 0.9);
}

footer ul:last-child {
    position:absolute;
    right:40px;
    bottom:0;
}

footer ul li {
    display:inline;
    margin-right:15px;
}

#explore {
    display:block;
    position:fixed;
    width:320px;
    height:100%;
    padding:20px;
    right:0;
    background:#0F1F29;
    overflow:scroll;
}

#explore ul {
    margin-top:0;
    padding:0 0 20px 0;
}

#explore ul li {
    margin-bottom:20px;
}

#explore ul li:last-child {
    margin-bottom:0;
}

.left-animate {
    margin-left:-360px;
}

#wrapper, #tubular-shield, #tubular-container {
    -webkit-transition:margin-left .2s ease-in-out;
    -moz-transition:margin-left .2s ease-in-out;
    -o-transition:margin-left .2s ease-in-out;
    -ms-transition:margin-left .2s ease-in-out;
    transition:margin-left .2s ease-in-out;
} 

#tubular-shield {
    box-shadow:0px 0px 20px #0A171F;
}

#form-wrapper {
    position:absolute;
    z-index:9999 !important;
    width:100%;
    height:100%;
    padding-top:50px;
    background:rgba(10,23,31,.9);
}

#form-wrapper form {
    margin:0 auto;
    width:600px;
}

#form-wrapper * {
    display:block;
    width:100%;
}

#form-wrapper *:focus {
    outline:none;
}

#form-wrapper input, #form-wrapper textarea,
#form-wrapper select {
    margin-bottom:20px;
    padding:10px;
    border:1px solid rgb(10,23,31);
}

#form-wrapper input[type="submit"] {
    width:103.72%;
}

#form-wrapper textarea {
    resize:none;
    height:150px;
    overflow:scroll;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
