<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Wikitongues</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href='http://fonts.googleapis.com/css?family=Raleway:300,700' rel='stylesheet' type='text/css'>

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <link rel="stylesheet" href="/static/css/normalize.css">
        <link rel="stylesheet" href="/static/css/main.css">
        <script src="/statc/js/vendor/modernizr-2.6.2.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div id="wrapper">
            <header>
                <span>WIKITONGUES</span>
                <ul>
                    <li><a id="submit-form">Submit</a></li>
                    <li><a id="nav-button" href="#">Explore <span>≡</span></a></li>
                </ul>
            </header>
            <div class="metadata">
                <h1 class="title">{{ picked_videos[10]['title'] }}</h1>
                <button id="play-init"></button>
            </div>
            <footer>
                <ul>
                    <li><a href="#" class="tubular-play">Play</a></li>
                    <li>&middot;</li>
                    <li><a href="#" class="tubular-pause">Pause</a></li>
                </ul>
            </footer>
        </div>
        <div id="explore">
            <ul>{% for i in range(len(picked_videos)-1) %}
                <li>
                    <a href="#"></a>
                        <img src="{{ thumb(picked_videos[i]['videoID'], 'medium') }}">
                        <p>{{ picked_videos[i]['title'] }}</p>
                    </a>  
                </li>
            {% endfor %}
                <!-- loop returns ID, medium thumbnail URL, and video name for all languages -->
                <li>
                    <!-- li return random video ID --> 
                    <a href="#"></a><!-- clicking this link grabs vid ID and resets global variable on page -->
                        <img src="http://placekitten.com/320/180"><!-- thumbnail URL goes here -->
                        <p>Cat speakz language pls</p><!-- video title goes here -->
                    </a>  
                </li>
            </ul>
        </div>

        <div id="form-wrapper">
            <h1>Add your voice to Wikitongues.</h1>
            <form action="#">
                <input type="text" placeholder="What's your name?">
                <div class="select">
                    <select>
                        <option selected="selected" value="Where are you from?">Where are you from?</option>
                        {% for country in db.countries.find() %}
                        <option value="{{ country['name'] }}">{{ country['name'] }}</option>
                    {% endfor %}</select>
                </div>
                <div class="select">
                    <select name="" id="">
                        <option selected="selected" value="What's your language?">What's your language?</option>
                        {% for language in db.languages.find() %}
                        <option value="{{ language['name'] }}">{{ language['name'] }}</option>
                    {% endfor %}</select>
                </div>
                <div class="upload">
                    <span>Select a video</span>
                    <input type="file">
                </div>
                <textarea placeholder="In your own language, what did you say?"></textarea>
                <textarea placeholder="Translate it to another language?"></textarea>
                <input type="submit">
            </form>
            <button id="close-button">X</button>
        </div>

        <!--<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>-->
        <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
        <script>window.jQuery || document.write('<script src="/js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
        <script src="/static/js/plugins.js"></script>
        <script src="/static/js/main.js"></script>
        <script src="/static/js/jquery.tubular.1.0.js"></script>
        <script>
            $().ready(function() {
                $('#wrapper').tubular({
                    videoId: '{{ picked_videos[10]["videoID"] }}', // <-- VIDEO ID variable goes here
                    mute:false,
                    playButtonClass: 'tubular-play',
                    pauseButtonClass: 'tubular-pause'
                });

                $('#nav-button').on('click', function(){
                    $('#wrapper, #tubular-container, #tubular-shield').toggleClass('left-animate')
                })

                $('#submit-form').on('click', function(){
                    $('#form-wrapper').show()
                })

                $('#close-button').on('click', function(e){
                        $('#form-wrapper').hide();
                });

                $('body').on('keydown', function(e){
                    if ((e.keyCode || e.which) == 27)
                    {
                        $('#form-wrapper').hide();
                    }  
                });

                $('.select select').each(function(){
                  $(this).change(function() {
                    var str = "";
                    $(this).find("option:selected").each(function(){
                      str += $(this).text() + " ";
                    });
                    $(this).siblings('span').text(str);
                  }).change(); 

                });

                $('.upload input').change(function(){
                    var fileValue = $('.upload input').attr('value')
                    $(this).siblings('span').text(fileValue)
                });

             });
        </script>


        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>
    </body>
</html>
